{% paginate blog.articles by 18 %}

  <div class="module-wrapper">   
    <img class="journal-header" src="{{ 'img-journal-header-banner.jpg' | asset_url }}" alt="Oros Journal" style="width:100% !important;min-height: 110px;"/> 
    <div class="module blog">
      <div class="module-header blog-header">
        <div class="module-title blog-title">
          <h1>
 {% if blog.title contains "Journal" %}              
            <span class="journal-title">The <img class="oros-logo" src="{{ 'logo.png' | asset_url }}" alt="Oros Logo Journal"/> Journal</span>
            <span class="journal-subtitle">Stories of travel, adventure, and inspiration.</span>
{% else %}           
            {% if current_tags %}<a href="{{ blog.url }}">{% endif %}
            {{ "blogs.blog.title" | t }} - {{ blog.title }}
            {% if current_tags %}</a>{% endif %}
            <a class="blog-rss" href="{{ blog.url }}.atom">&#xea9c</a>            
{% endif %}             
          </h1>
        </div>
        {% if linklists.blogs.links.size > 0 %}
          <div class="blog-menu">
            {% for link in linklists.blogs.links %}
              <a class="button outline blog-subtitle-button {% if link.url == blog.url %}active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <div class="module-body">
        {% if blog.tags.size > 0 %}
          <div class="blog-tags-wrapper">
            <span>{{ 'blogs.blog.filter_by_tag' | t }}:</span>
            <div class="blog-tags-list">
              {% for tag in blog.tags %}
                <span class="blog-tags-list-item">{{ tag | link_to_tag: tag }}</span>
              {% endfor %}
            </div>
            {% if current_tags %}
              <div class="blog-tags-current">
                <p>{{ 'blogs.blog.posts_tagged' | t }} <em>"{{ current_tags.first }}"</em></p>
              </div>
            {% endif %}
          </div>
        {% endif %}
        <div class="post-wrapper">
          {% for article in blog.articles %}
            {% include 'article-list-item' %}
          {% else %}
            <div class="empty">
              <p>{{ 'blogs.blog.empty' | t }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  {% if paginate.previous or paginate.next %}
    {% include 'pagination' %}
  {% endif %}

{% endpaginate %}
