{{ 'bootstrap-grid.css' | asset_url | stylesheet_tag }}
<div id="news-heading-bg"class="image-block-wrapper">
  <div class="image-block-content">
    <h1 class="image-block-heading heading">{{ page.title }}</h1>
  </div>
  <img class="image-block-image" src="{{ 'oros-news.jpg' | asset_img_url: '1800x' }}"/>
</div>
{% assign newsContent = page.content | split: '[/Entry]' %}

<!--
{% for entry in newsContent %}
	{% capture thecycle %}{% cycle '1', '2', '3' %}{% endcapture %}
  	{% if thecycle == '1' %}
      {{ forloop.index }}
    {% elsif thecycle == '3' %}
          
  	{% else %}
	{% endif %}
{% endfor %}
-->
<div class="news-wrap clearfix">
  
  <div class="row news-row clearfix">
    <div class="news-column col-sm-4">
      <a class="news-column-image-link" href="https://www.orosapparel.com/blogs/news/a-nasa-material-lets-this-jacket-withstand-freezing-temperatures-without-any-bulk">
        <img class="news-column-image" src="{{ 'news-01.png' | asset_img_url: '800x800' }}">
      	<h3 class="news-column-title">This Jacket Can Withstand Freezing Temperatures Without Any Bulk</h3>
      </a>
      <p></p>
    </div>
    <div class="news-column col-sm-4">
      <a class="news-column-image-link" href="https://www.orosapparel.com/blogs/news/winter-innovations-and-ski-gadgets-for-surviving-the-cold">
        <img class="news-column-image" src="{{ 'news-10.png' | asset_img_url: '800x800' }}">
      	<h3 class="news-column-title">Winter Innovations For Surviving The Cold</h3>
      </a>
      <p></p>
    </div>
    <div class="news-column col-sm-4">
      <a class="news-column-image-link" href="https://www.orosapparel.com/blogs/news/smart-clothing-designing-with-aerogel">
        <img class="news-column-image" src="{{ 'news-03.png' | asset_img_url: '800x800'}}">
      	<h3 class="news-column-title">Smart Clothing: Designing With Aerogel Insulation</h3>
      </a>
      <p></p>
    </div>
  </div>
  
  <div class="row news-row clearfix">
    <div class="news-column col-sm-4">
      <a class="news-column-image-link" href="https://www.orosapparel.com/blogs/news/applying-space-suit-technology-to-outerwear">
        <img class="news-column-image" src="{{ 'news-04.png' | asset_img_url: '800x800'}}">
      	<h3 class="news-column-title">Applying Spacesuit Technology To Outerwear</h3>
      </a>
      <p></p>
    </div>
    <div class="news-column col-sm-4">
      <a class="news-column-image-link" href="https://www.orosapparel.com/blogs/news/oros-winter-gear-uses-nasa-tech-to-block-frigid-temps">
        <img class="news-column-image" src="{{ 'news-05.png' | asset_img_url: '800x800'}}">
      	<h3 class="news-column-title">OROS Winter Gear Uses NASA Tech To Block Frigid Temps</h3>
      </a>
      <p></p>
    </div>
    <div class="news-column col-sm-4">
      <a class="news-column-image-link" href="https://www.orosapparel.com/blogs/news/nasa-insulation-for-space-suits-and-mars-rover-keep-you-warm-in-new-jackets-gloves-beanies-and-pants-for-every-winter-adventure">
        <img class="news-column-image" src="{{ 'news-06.png' | asset_img_url: '800x800'}}">
      	<h3 class="news-column-title">SolarCore Allows Performance Apparel To Be Incredibly Warm, Thin, and Lightweight</h3>
      </a>
      <p></p>
    </div>
  </div>
  
  <div class="row news-row clearfix">
    <div class="news-column col-sm-4">
      <a class="news-column-image-link" href="https://www.orosapparel.com/blogs/news/applying-space-suit-technology-to-outerwear">
        <img class="news-column-image" src="{{ 'news-07.png' | asset_img_url: '800x800'}}">
      	<h3 class="news-column-title">Today In Gear Patrol: OROS SolarCore Aerogel Apparel</h3>
      </a>
      <p></p>
    </div>
    <div class="news-column col-sm-4">
      <a class="news-column-image-link" href="https://www.orosapparel.com/blogs/news/oros-launches-winter-wear-with-aerogel-insulation">
        <img class="news-column-image" src="{{ 'news-08.png' | asset_img_url: '800x800'}}">
      	<h3 class="news-column-title">OROS Launches Winter Wear With Aerogel Insulation</h3>
      </a>
      <p></p>
    </div>
    <div class="news-column col-sm-4">
      <a class="news-column-image-link" href="https://www.orosapparel.com/blogs/news/young-otr-company-is-already-exceeding-expectations-with-its-space-age-insulation-products">
        <img class="news-column-image" src="{{ 'news-09.png' | asset_img_url: '800x800'}}">
      	<h3 class="news-column-title">OROS Exceeding Expectations With Space-Age Insulation</h3>
      </a>
      <p></p>
    </div>
  </div>
  
    <div class="row news-row clearfix">
    <div class="news-column col-sm-4">
      <a class="news-column-image-link" href="https://www.orosapparel.com/blogs/news/watch-this-aerogel-insulated-jacket-withstand-liquid-nitrogen">
        <img class="news-column-image" src="{{ 'news-11.png' | asset_img_url: '800x800' }}">
      	<h3 class="news-column-title">Watch This Jacket Withstand Liquid Nitrogen</h3>
      </a>
      <p></p>
    </div>
    <div class="news-column col-sm-4">
      <a class="news-column-image-link" href="https://www.orosapparel.com/blogs/news/emerging-gear-outdoor-products-this-week">
        <img class="news-column-image" src="{{ 'news-12.png' | asset_img_url: '800x800' }}">
      	<h3 class="news-column-title">Emerging Gear,The First Headband Using Aerogel</h3>
      </a>
      <p></p>
    </div>
    <div class="news-column col-sm-4">
      <a class="news-column-image-link" href="https://www.orosapparel.com/blogs/news/manage-the-snow-capped-mountainside-with-one-of-our-favorite-winter-jackets">
        <img class="news-column-image" src="{{ 'digitaltrends.jpg' | asset_img_url: '800x800' }}">
      	<h3 class="news-column-title">Digital Trends Best Winter Jackets List</h3>
      </a>
      <p></p>
    </div>
  </div>
  
</div>
<div style="display: none">
{{ page.content }}
</div>