{% if settings.featured-product-main.size > 0 %}
{% assign keyFeatureProducts = "orion-series-gloves-unisex,orion-series-beanie-men-and-women,orion-series-snow-pants-women,orion-series-snow-pants-men,orion-series-jacket-womens,orion-series-jacket-men,rover-series-jacket-insulated-shell-mens,rover-series-jacket-insulated-shell-womens,womens-leggings,womens-headband,insulated-1-4-mens" | split: ',' %}
{% assign displayKeyFeatures = false %}
{% for item in keyFeatureProducts %}
    {% if product.handle == item %}
		{% assign displayKeyFeatures = true %}
	{% endif %}
 {% endfor %}

{% if displayKeyFeatures %}

  {% assign featured-product = product %}
  {% assign featured-image-alignment = 'default' %}

  <div class="module-wrapper style-{{ settings.product-focus-style }} border">
    <div class="module product-focus-wrapper {% if featured-image-alignment == 'bottom' %}align-image-to-section{% endif %}">

      {% if settings.product-focus-hero-title != blank %}
        <div class="module-header">
          <h3 class="module-title product-focus-title">{{ settings.product-focus-hero-title }}</h3>
        {% if settings.product-focus-hero-subtitle != blank %}
          <p class="module-subtitle">{{ settings.product-focus-hero-subtitle }}</p>
        {% endif %}
        </div>
      {% endif %}

      <div class="module-body clearfix">
        {% if settings.use-product-focus-image %}
          <div class="product-focus-hero-image-container">
            <div class="product-focus-hero-image">
              <img alt="{{ featured-product.title | strip_html | escape }}" src="{{ featured-product.featured_image | product_img_url: 'grande' }}" />
            </div>
          </div>
        {% endif %}
        
        {% assign jacketIcons = "ion-thermometer,ion-arrow-graph-up-right,ion-leaf" | split: "," %}
        {% assign jacketHeadings = "Solarcore Insulation, High Performance, Thin Profile" | split: "," %}
        {% assign jacketsTxt = "NASA-inspired insulation designed to keep you warm, without the bulk and layers|Developed with a distinct style that offers high mobility and protection in any element|Our design provides high-comfort and flexibility in any condition" | split: "|" %}
        
        {% assign beaniesIcons = "ion-thermometer,ion-android-cloud" | split: "," %}
        {% assign beaniesHeadings = "Solarcore Insulation, Soft-ribbed Knit" | split: "," %}
        {% assign beaniesTxt = "NASA-inspired insulation designed to keep you warm, without the bulk and layers|Provides maximum comfortability while allowing your head to breath" | split: "|" %}
        
        {% case product.handle %}
          {% when 'orion-series-gloves-unisex' %}
        	{% assign currentIcons = jacketIcons %}
            {% assign currentHeadings = jacketHeadings %}
            {% assign currentFeatureText = jacketsTxt %}
          {% when 'orion-series-jacket-men' %}
        	{% assign currentIcons = jacketIcons %}
            {% assign currentHeadings = jacketHeadings %}
            {% assign currentFeatureText = jacketsTxt %}
          {% when 'orion-series-jacket-womens' %}
        	{% assign currentIcons = jacketIcons %}
            {% assign currentHeadings = jacketHeadings %}
            {% assign currentFeatureText = jacketsTxt %}
          {% when 'orion-series-snow-pants-men' %}
        	{% assign currentIcons = jacketIcons %}
            {% assign currentHeadings = jacketHeadings %}
            {% assign currentFeatureText = jacketsTxt %}
          {% when 'orion-series-snow-pants-women' %}
        	{% assign currentIcons = jacketIcons %}
            {% assign currentHeadings = jacketHeadings %}
            {% assign currentFeatureText = jacketsTxt %}
          {% when 'orion-series-beanie-men-and-women' %}
        	{% assign currentIcons = beaniesIcons %}
        	{% assign currentHeadings = beaniesHeadings %}
            {% assign currentFeatureText = beaniesTxt %}
          {% when 'rover-series-jacket-insulated-shell-mens' %}
        	{% assign currentIcons = jacketIcons %}
            {% assign currentHeadings = jacketHeadings %}
            {% assign currentFeatureText = jacketsTxt %}
          {% when 'rover-series-jacket-insulated-shell-womens' %}
        	{% assign currentIcons = jacketIcons %}
            {% assign currentHeadings = jacketHeadings %}
            {% assign currentFeatureText = jacketsTxt %}
          {% when 'womens-leggings' %}
            {% assign currentIcons = jacketIcons %}
            {% assign currentHeadings = jacketHeadings %}
            {% assign currentFeatureText = jacketsTxt %}
          {% when 'womens-headband' %}
        	{% assign currentIcons = jacketIcons %}
            {% assign currentHeadings = jacketHeadings %}
            {% assign currentFeatureText = jacketsTxt %}
          {% when 'insulated-1-4-mens' %}
        	{% assign currentIcons = jacketIcons %}
            {% assign currentHeadings = jacketHeadings %}
            {% assign currentFeatureText = jacketsTxt %}
          {% else %}
        	{% assign currentIcons = null %}
            {% assign currentHeadings = null %}
            {% assign currentFeatureText = null %}
        {% endcase %}
        
        <div class="product-focus-list-container {% if settings.use-product-focus-image != true %}no-image{% endif %}">
          <ul class="product-focus-list clearfix">
            {% assign count = 0 %}
            {% for x in (0..3) %}
                {% assign count = count | plus: 1 %}
                <li class="product-focus-list-item list-item-{{ count }}">
                  {% include 'font-icon', icon: currentIcons[x], class: 'product-focus-list-item-icon', title: settings[title] %}
                  <h4 class="module-title product-focus-list-item-title">{{ currentHeadings[x] }}</h4>
                  <div class="module-content product-focus-list-item-text rte">{{ currentFeatureText[x] }}</div>
                </li>
            {% endfor %}
          </ul>
        </div>

      </div>

    </div>
  </div>
{% endif %}
{% endif %}
