<section class="promo-bar" data-promotion-bar aria-hidden="true">
  <div class="promo-bar__message" data-promotion-message="{{ settings.promo_success }}" aria-expanded="false" data-logged-in="{% if customer %}true{% else %}false{% endif %}">
    <button class="promo-bar__close" data-promotion-close aria-label="Close"><img src="{{ 'ic_add_black_24px.svg' | asset_url }}" alt="close icon" aria-hidden="true"></button>
      <div class="promo-bar__inner is-active" data-step>
        <div class="promo-bar__copy-container">
          <p class="promo-bar__title" aria-hidden="true">{{ settings.expanded_primary }}</p>
          <p class="promo-bar__desc" aria-hidden="true">{{ settings.expanded_secondary }}</p>
        </div>

        <div class="promo-form__container">
          <form id="promotion-bar-klaviyo" class="promo-form" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" target="_blank" method="GET" novalidate="novalidate">
            <input type="hidden" name="utf8" value="✓">
            <input type="hidden" name="g" value="{{ settings.promo_klaviyo_list }}">
            <label for="klaviyo_email" class="promo-form__label">Email Address</label>
            <input id="klaviyo_email" type="email" class="promo-form__input" name="email"
             required>
            <div class="promo-form__cta-container">
              <button type="submit" class="promo-form__submit">Submit</button>
              <button class="promo-form__form-close" data-promotion-close>No Thank You</button>
            </div>
          </form>
          <p class="promo-form__error" data-promotion-error></p>
        </div>

        <p
          class="promo-bar__shipping"
          flow-text
          flow-text-australia="{{- settings.persistent_offer_text_intl -}}"
          flow-text-belgium="{{- settings.persistent_offer_text_intl -}}"
          flow-text-canada="{{- settings.persistent_offer_text_intl -}}"
          flow-text-china="{{- settings.persistent_offer_text_intl -}}"
          flow-text-france="{{- settings.persistent_offer_text_intl -}}"
          flow-text-italy="{{- settings.persistent_offer_text_intl -}}"
          flow-text-japan="{{- settings.persistent_offer_text_intl -}}"
          flow-text-republic-of-korea="{{- settings.persistent_offer_text_intl -}}"
          flow-text-singapore="{{- settings.persistent_offer_text_intl -}}"
          flow-text-united-kingdom="{{- settings.persistent_offer_text_intl -}}"
        >
          {{ settings.persistent_offer_text }}
        </p>
      </div>
  </div>
</section>

{% style %}
  .promo-form__submit {
    background-image: url("{{'button-bg.svg' | asset_url }}");
  }

  .promo-form__submit:hover,
  .promo-form__submit:focus {
    background-image: none;
  }
{% endstyle %}
