
{% assign hero_title         = section.settings.hero_title %}
{% assign hero_title_color   = section.settings.hero_text_color %}
{% assign hero_img_mobile    = section.settings.hero_img_mobile %}
{% assign hero_img_desktop   = section.settings.hero_img_desktop %}

<section class="hero-section-wrapper">
    <div class="container">
        {% include 'breadcrumbs', additional_class: 'hero-section__breadcrumbs hide-tablet-down', background: 'white' %}
    </div>
    <div class="hero-section container">
        <div class="our-tech-hero__title hero-section__title">{{ hero_title | default: 'Hero Title Goes Here' }}</div>
    </div>
    <div class="hero-section__arrow-wrapper">
        <div class="container hero-section__container">
            <img src="{{ 'arrow-down--white.svg' | asset_url }}" alt="scroll down" class="hero-section__arrow" data-scroll-to-next-section>
        </div>
    </div>
</section>

{% style %}
    {% if hero_img_mobile %}
      .hero-section-wrapper {
            background-image: url('{{ hero_img_mobile | img_url: '480x' }}');
        }
        @media screen and (-webkit-min-device-pixel-ratio: 2) {
            .our-tech-hero-wrapper {
                background-image: url('{{ hero_img_mobile | img_url: '960x' }}');
            }
        }

        {% comment %} large phone {% endcomment %}
        @media screen and (min-width: 480px) {
            .hero-section-wrapper {
                background-image: url('{{ hero_img_mobile | img_url: '768x' }}');
            }
        }
        @media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 480px) {
            .hero-section-wrapper {
                background-image: url('{{ hero_img_mobile | img_url: '1536x' }}');
            }
        }

        {% comment %} tablet {% endcomment %}
        @media screen and (min-width: 720px) {
            .hero-section-wrapper {
                background-image: url('{{ hero_img_mobile | img_url: '960x' }}');
            }
        }
        @media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 720px) {
            .hero-section-wrapper {
                background-image: url('{{ hero_img_mobile | img_url: '1920x' }}');
            }
        }
    {% endif %}

    {% if hero_img_desktop %}
        @media screen and (min-width: 1020px) {
            .hero-section-wrapper {
                background-image: url('{{ hero_img_desktop | img_url: '1020x' }}');
            }
        }

        @media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1020px) {
            .hero-section-wrapper {
                background-image: url('{{ hero_img_desktop | img_url: '2040x' }}');
            }
        }

        @media screen and (min-width: 1440px) {
            .hero-section-wrapper {
                background-image: url('{{ hero_img_desktop | img_url: '1440x' }}');
            }
        }

        @media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1440px) {
            .hero-section-wrapper {
                background-image: url('{{ hero_img_desktop | img_url: '2880x' }}');
            }
        }

        @media screen and (min-width: 1920px) {
            .hero-section-wrapper {
                background-image: url('{{ hero_img_desktop | img_url: '1440x' }}');
            }
        }

        @media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1920px) {
            .hero-section-wrapper {
                background-image: url('{{ hero_img_desktop | img_url: '3840x' }}');
            }
        }
    {% endif %}

    {% if hero_title_color %}
        .our-tech-hero__title p {
            color: {{ hero_title_color }} !important;
        }

        .our-tech-hero__title p em {
            -webkit-text-stroke-color: {{ hero_title_color }} !important;
        }
    {% endif %}
{% endstyle %}

{% comment %} Put this in the containing section file {% endcomment %}
{% comment %}
    {
    "name": "Hero",
    "settings": [
        {
            "type":      "header",
            "content":   "Hero",
            "info":      "Content for Hero Section"
        },
        {
            "id":       "hero_title",
            "type":     "richtext",
            "label":    "Hero Title"
        },
        {
            "type":     "color",
            "id":       "hero_text_color",
            "label":    "Hero Title Color",
            "default":  "#ffffff"
        },
        {
            "type":     "image_picker",
            "id":       "hero_img_mobile",
            "label":    "Mobile Image"
        },
        {
            "type":     "image_picker",
            "id":       "hero_img_desktop",
            "label":    "Desktop Image"
        }
    ]
  }
{% endcomment %}