{% comment %}

  Arguments:

    • type
    • name
    • value
    • input_attrs
    • hide_input
    • hide_label

{% endcomment %}

{%- capture _id -%}
  {{- name | handle -}}-{{- value | handle -}}-{{- 'now' | date: '%N' | modulo: 9999 | plus: 1 -}}
{%- endcapture -%}

<div class="oo-input-group {{ classes -}}" {{ extra_attrs -}}>

  {%- capture _input_class_string -%}
    inside-oo-input-group {% if hide_input == true -%}u-visually-hidden{%- endif -%}
  {%- endcapture -%}

  {%- capture _label_class_string -%}
    inside-oo-input-group {% if hide_label == true -%}u-visually-hidden{%- endif -%}
  {%- endcapture -%}

  {%- include 'input',
    type: type,
    name: name,
    value: value,
    id: _id,
    classes: _input_class_string,
    extra_attrs: input_attrs -%}

  {%- assign _input_class_string = nil -%}

  {%- include 'label',
    for: _id,
    content: value,
    classes: _label_class_string,
    extra_attrs: '' -%}

  {%- assign _label_class_string = nil -%}

  {%- assign _id = nil -%}

</div>
