<div class="meganav-overlay" data-meganav-overlay></div>
<div class="header-meganav-container" data-meganav>
  {% for block in section.blocks %}  

    <div class="js-header-nav--item header-nav--item{% if block.settings.is_dropdown %} header-nav-item--has-dropdown{% endif %}">

      {% if block.settings.item_title != blank %}
        <span class="header-global-link header-global-non-link">
          {{ block.settings.item_title }}
        </span>
      {% endif %}

      {% if block.settings.is_dropdown %}
        <div class="header-nav-item--sub-menu">
          <div class="header-nav-item--sub-images-container">
            {% if block.settings.image_1 != blank or block.settings.image_width_1 != blank %}
                <div class="header-nav-item--sub-image{% if section.blocks.size == 4 %} meganav-image-container-even{% elsif section.blocks.size == 3 %} meganav-image-container-odd{% endif %}{% if block.settings.image_title_caption_1 == blank %} meganav-image-no-title-container{% endif %}">
                <a href="{{ block.settings.image_link_1 }}" class="meganav-image-link-container">
                  {% if block.settings.image_1 != blank %}
                    <img src="{{ block.settings.image_1 | img_url: '936x' }}" alt="{{ block.settings.image_title_caption_1 }} image" class="meganav-image meganav-four-images">
                  {% endif %}
                  <img src="{{ block.settings.image_width_1 | img_url: '936x' }}" alt="{{ block.settings.image_title_caption_1 }} image" class="meganav-image {% if block.settings.image_1 != blank %}meganav-three-images{% endif %}">
                  {% if block.settings.image_title_caption_1 != blank %}
                    <div class="meganav-link-container">
                      {% if block.settings.image_1 != blank %}
                        <div class="meganav-link-bg meganav-four-images" style="background-image:url({{ block.settings.image_1 | img_url: '936x' }})"></div>
                      {% endif %}
                      <div class="meganav-link-bg {% if block.settings.image_1 != blank %}meganav-three-images{% endif %}" style="background-image:url({{ block.settings.image_width_1 | img_url: '936x' }})"></div>
                      <div class="meganav-link-content">
                        <p class="meganav-image-link">{{ block.settings.image_title_caption_1 }}</p>
                      </div>
                    </div>
                  {% endif %}  
                </a>
              </div>
            {% endif %}<!-- .header-nav-item sub-image-1 -->
            {% if block.settings.image_2 != blank or block.settings.image_width_2 != blank %}
              <div class="header-nav-item--sub-image{% if section.blocks.size == 4 %} meganav-image-container-even{% elsif section.blocks.size == 3 %} meganav-image-container-odd{% endif %}{% if block.settings.image_title_caption_2 == blank %} meganav-image-no-title-container{% endif %}">
                <a href="{{ block.settings.image_link_2 }}" class="meganav-image-link-container">
                  {% if block.settings.image_2 != blank %}
                    <img src="{{ block.settings.image_2 | img_url: '936x' }}" alt="{{ block.settings.image_title_caption_2 }} image" class="meganav-image meganav-four-images">
                  {% endif %}
                  <img src="{{ block.settings.image_width_2 | img_url: '936x' }}" alt="{{ block.settings.image_title_caption_2 }} image" class="meganav-image {% if block.settings.image_2 != blank %}meganav-three-images{% endif %}">
                  {% if block.settings.image_title_caption_2 != blank %}
                    <div class="meganav-link-container">
                      {% if block.settings.image_2 != blank %}
                        <div class="meganav-link-bg meganav-four-images" style="background-image:url({{ block.settings.image_2 | img_url: '936x' }})"></div>
                      {% endif %}
                      <div class="meganav-link-bg {% if block.settings.image_2 != blank %}meganav-three-images{% endif %}" style="background-image:url({{ block.settings.image_width_2 | img_url: '936x' }})"></div>
                      <div class="meganav-link-content">
                        <p class="meganav-image-link">{{ block.settings.image_title_caption_2 }}</p>
                      </div>
                    </div>
                  {% endif %}
                </a>
              </div>
            {% endif %}<!-- .header-nav-item sub-image-2 -->
            {% if block.settings.image_3 != blank or block.settings.image_width_3 != blank %}
              <div class="header-nav-item--sub-image{% if section.blocks.size == 4 %} meganav-image-container-even{% elsif section.blocks.size == 3 %} meganav-image-container-odd{% endif %}{% if block.settings.image_title_caption_3 == blank %} meganav-image-no-title-container{% endif %}">
                <a href="{{ block.settings.image_link_3 }}" class="meganav-image-link-container">
                  {% if block.settings.image_3 != blank %}
                    <img src="{{ block.settings.image_3 | img_url: '936x' }}" alt="{{ block.settings.image_title_caption_3 }} image" class="meganav-image meganav-four-images">
                  {% endif %}
                  <img src="{{ block.settings.image_width_3 | img_url: '936x' }}" alt="{{ block.settings.image_title_caption_3 }} image" class="meganav-image {% if block.settings.image_3 != blank %}meganav-three-images{% endif %}">
                  {% if block.settings.image_title_caption_3 != blank %}
                    <div class="meganav-link-container">
                      {% if block.settings.image_3 != blank %}
                        <div class="meganav-link-bg meganav-four-images" style="background-image:url({{ block.settings.image_3 | img_url: '936x' }})"></div>
                      {% endif %}
                      <div class="meganav-link-bg {% if block.settings.image_3 != blank %}meganav-three-images{% endif %}" style="background-image:url({{ block.settings.image_width_3 | img_url: '936x' }})"></div>
                      <div class="meganav-link-content">
                        <p class="meganav-image-link">{{ block.settings.image_title_caption_3 }}</p>
                      </div>
                    </div>
                  {% endif %}
                </a>
              </div>    
            {% endif %}<!-- .header-nav-item sub-image-3 -->
            {% if block.settings.image_4 != blank or block.settings.image_width_4 != blank %}
              <div class="header-nav-item--sub-image{% if section.blocks.size == 4 %} meganav-image-container-even{% elsif section.blocks.size == 3 %} meganav-image-container-odd{% endif %}{% if block.settings.image_title_caption_4 == blank %} meganav-image-no-title-container{% endif %}">
                <a href="{{ block.settings.image_link_4 }}" class="meganav-image-link-container">
                  {% if block.settings.image_4 != blank %}
                    <img src="{{ block.settings.image_4 | img_url: '936x' }}" alt="{{ block.settings.image_title_caption_4 }} image" class="meganav-image meganav-four-images">
                  {% endif %}
                  <img src="{{ block.settings.image_width_4 | img_url: '936x' }}" alt="{{ block.settings.image_title_caption_4 }} image" class="meganav-image {% if block.settings.image_4 != blank %}meganav-three-images{% endif %}">
                  {% if block.settings.image_title_caption_4 != blank %}
                    <div class="meganav-link-container">
                      {% if block.settings.image_4 != blank %}
                        <div class="meganav-link-bg meganav-four-images" style="background-image:url({{ block.settings.image_4 | img_url: '936x' }})"></div>
                      {% endif %}
                      <div class="meganav-link-bg {% if block.settings.image_4 != blank %}meganav-three-images{% endif %}" style="background-image:url({{ block.settings.image_width_4 | img_url: '936x' }})"></div>
                      <div class="meganav-link-content">
                        <p class="meganav-image-link">{{ block.settings.image_title_caption_4 }}</p>
                      </div>
                    </div>
                  {% endif %}
                </a>
              </div>
            {% endif %}<!-- .header-nav-item sub-image-4 -->
          </div>
          {% if block.settings.all_link != blank %}
            <a href="{{ block.settings.all_link }}" class="sub-nav-shop-all-link">
              {{ block.settings.all_title }}
            </a>
          {% endif %}
        </div><!-- .header-nav-item sub-menu -->    
      {% endif %}

    </div><!-- .header-nav item -->

  {% endfor %}
</div><!-- .header-nav-->

{% schema %}
  {
    "name": "Header Meganav",
    "settings": [
    ],
    "blocks": [
      {
        "type": "header_nav_item",
        "name": "Navigation Item",
        "settings": [
          {
            "id": "item_title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "item_title_link",
            "type": "url",
            "label": "Title Link"
          },
          {
            "id": "is_dropdown",
            "type": "checkbox",
            "label": "Dropdown Menu",
            "default": true,
            "info": "Check if this item will have a dropdown menu."
          },
          {
            "type": "header",
            "content": "Menu"
          },
          {
            "type": "header",
            "content": "Image Content 1"
          },
          {
            "id": "image_1",
            "type": "image_picker",
            "label": "Desktop Only: Image used when four in a row",
            "info": "Recommended image size: 696px (wide) x 696px"
          },
          {
            "id": "image_width_1",
            "type": "image_picker",
            "label": "Image used when three in a row for desktop and mobile",
            "info": "Recommended image size: 936px (wide) x 696px"
          },
          {
            "id": "image_title_caption_1",
            "type": "text",
            "label": "Title Caption"
          },
          {
            "id": "image_link_1",
            "type": "url",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Image Content 2"
          },
          {
            "id": "image_2",
            "type": "image_picker",
            "label": "Desktop Only: Image used when four in a row",
            "info": "Recommended image size: 696px (wide) x 696px"
          },
          {
            "id": "image_width_2",
            "type": "image_picker",
            "label": "Image used when three in a row for desktop and mobile",
            "info": "Recommended image size: 936px (wide) x 696px"
          },
          {
            "id": "image_title_caption_2",
            "type": "text",
            "label": "Title Caption"
          },
          {
            "id": "image_link_2",
            "type": "url",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Image Content 3"
          },
          {
            "id": "image_3",
            "type": "image_picker",
            "label": "Desktop Only: Image used when four in a row",
            "info": "Recommended image size: 696px (wide) x 696px"
          },
          {
            "id": "image_width_3",
            "type": "image_picker",
            "label": "Image used when three in a row for desktop and mobile",
            "info": "Recommended image size: 936px (wide) x 696px"
          },
          {
            "id": "image_title_caption_3",
            "type": "text",
            "label": "Title Caption"
          },
          {
            "id": "image_link_3",
            "type": "url",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Image Content 4"
          },
          {
            "id": "image_4",
            "type": "image_picker",
            "label": "Desktop Only: Image used when four in a row",
            "info": "Recommended image size: 696px (wide) x 696px"
          },  
          {
            "id": "image_width_4",
            "type": "image_picker",
            "label": "Image used when three in a row for desktop and mobile",
            "info": "Recommended image size: 936px (wide) x 696px"
          },
          {
            "id": "image_title_caption_4",
            "type": "text",
            "label": "Title Caption"
          },
          {
            "id": "image_link_4",
            "type": "url",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Shop All Link"
          },
          {
            "id": "all_title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "all_link",
            "type": "url",
            "label": "Title Link"
          }
        ]
      }
    ]
  }
{% endschema %}