<div class="story" style="background-image:url({{ section.settings.about_bg_image | img_url: '2880x' }})" data-mobile-image="{% if section.settings.about_mobile_bg_image %}{{ section.settings.about_mobile_bg_image | img_url: '1984x' }}{% endif %}" data-desktop-image="{{ section.settings.about_bg_image | img_url: '2880x' }}" data-mobile-image-check>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="story__content">
          <h2>{{ section.settings.about_title }}</h2>
          <p>{{ section.settings.about_content }}</p>
          {% if section.settings.about_link %}
            <a href="{{ section.settings.about_link }}" class="btn btn--striped">{{ section.settings.about_link_text }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Our Story",
    "settings": [
      {
        "type":"image_picker",
        "id":"about_bg_image",
        "label":"Section Background Image"
      },
      {
        "type":"image_picker",
        "id":"about_mobile_bg_image",
        "label":"Section Background Mobile Image"
      },
      {
        "type":"text",
        "id":"about_title",
        "label":"Section Title",
        "default":"Our Story"
      },
      {
        "type":"textarea",
        "id":"about_content",
        "label":"Section Content"
      },
      {
        "type":"url",
        "id":"about_link",
        "label":"CTA Link"
      },
      {
        "type":"text",
        "id":"about_link_text",
        "label":"CTA Link Text"
      }
    ],
    "presets": [
      {
        "name": "Our Story",
        "category": "Homepage Sections"
      }
    ]
  }
{% endschema %}