{% assign section_text = section.settings.section_text %}
{% assign section_image_mobile = section.settings.section_image_mobile %}
{% assign section_image = section.settings.section_image %}
{% assign theme = section.settings.theme_select %}

<div class="image-banner-section image-banner-section--{{ theme }}">
  <p class="image-banner-section__text">{{ section_text | default: 'insert some text'}}</p>
</div>

{% style %}
  {% if section_image and section_image_mobile %}
      .image-banner-section {
        background-image: url('{{ section_image_mobile | img_url: 'x667' }}');
      }

      @media screen and (-webkit-min-device-pixel-ratio: 2) {
          .image-banner-section {
              background-image: url('{{ section_image_mobile | img_url: 'x1334' }}');
          }
      }

      {% comment %} regular phone {% endcomment %}
      @media screen and (min-width: 375px) {
          .image-banner-section {
              background-image: url('{{ section_image_mobile | img_url: '720x' }}');
          }
      }
      @media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 480px) {
          .image-banner-section {
              background-image: url('{{ section_image_mobile | img_url: '1440x' }}');
          }
      }

      {% comment %} large phone {% endcomment %}
      @media screen and (min-width: 480px) {
          .image-banner-section {
              background-image: url('{{ section_image | img_url: '1218x' }}');
          }
      }
      @media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 480px) {
          .image-banner-section {
              background-image: url('{{ section_image | img_url: '2436x' }}');
          }
      }

      {% comment %} tablet {% endcomment %}
      @media screen and (min-width: 720px) {
          .image-banner-section {
              background-image: url('{{ section_image | img_url: '960x' }}');
          }
      }
      @media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 720px) {
          .image-banner-section {
              background-image: url('{{ section_image | img_url: '1920x' }}');
          }
      }

      {% comment %} small desktop {% endcomment %}
      @media screen and (min-width: 960px) {
          .image-banner-section {
              background-image: url('{{ section_image | img_url: '1280x' }}');
          }
      }
      @media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 960px) {
          .image-banner-section {
              background-image: url('{{ section_image | img_url: '2560x' }}');
          }
      }

      {% comment %} desktop {% endcomment %}
      @media screen and (min-width: 1280px) {
          .image-banner-section {
              background-image: url('{{ section_image | img_url: '1440x' }}');
          }
      }
      @media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px) {
          .image-banner-section {
              background-image: url('{{ section_image | img_url: '2880x' }}');
          }
      }

      {% comment %} large desktop {% endcomment %}
      @media screen and (min-width: 1440px) {
          .image-banner-section {
              background-image: url('{{ section_image | img_url: '1920x' }}');
          }
      }
      @media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1440px) {
          .image-banner-section {
              background-image: url('{{ section_image | img_url: '3840x' }}');
          }
      }
  {% endif %}

{% endstyle %}

{% schema %}
    {
        "name": "Image Banner",
        "settings": [
            {
                "type": "textarea",
                "id": "section_text",
                "label": "Text"
            },
            {
                "type": "image_picker",
                "id": "section_image_mobile",
                "label": "Mobile Image"
            },
            {
                "type": "image_picker",
                "id": "section_image",
                "label": "Image"
            },
            {
                "type": "select",
                "id": "theme_select",
                "label": "Theme",
                "info": "pick a color theme for the section",
                "options": [
                    {
                        "value": "light",
                        "label": "Light"
                    },
                    {
                        "value": "dark",
                        "label": "Dark"
                    }
                ],
                "default": "light"
            }
        ]
    }
{% endschema %}