{% assign backgroundImageURL = '' %}

{% if collection.image != blank %}
  {% capture backgroundImageURL %}{{ collection.image | img_url: '1920x1080' }}{% endcapture %}
{% else %}
  {% comment %}
    fallback if collection image hasn't been set
  {% endcomment %}
  {% assign backgroundImageURL = 'https://cdn.shopify.com/s/files/1/0993/1558/files/oros-d-plp-mens-jackets-2x.jpg?8610969642013846353' %}
{% endif %}

<section class="plp" style="background-image: url('{{ backgroundImageURL }}')" data-affix-section data-parallax>

  <div class="plp__hover-image"></div>

  <div class="plp__headings" data-affix-element>
    <div class="plp__headings-group">
      <div class="plp__breadcrumbs">
        {% include 'breadcrumbs' %}
      </div>

      <h1 class="plp__heading plp__heading--primary">{{ collection.title }}</h1>
      <h3 class="plp__heading plp__heading--secondary">{{ collection.description }}</h3>
    </div>
  </div>

  <div class="plp__products">
    {% for product in collection.products %}
      <div class="plp__product-wrapper">
        <a href="{{collection.url}}{{ product.url }}">
          <div class="plp__product" data-hover-image="
            {%- if product.metafields.c_f.product_hover_image != blank -%}
              {{- product.metafields.c_f.product_hover_image -}}
            {%- else -%}
              {{ product.images[1] | product_img_url: '1920x1080' }}
            {%- endif -%}
          ">
            <img class="plp__image-default" src="{{ product.images.first | product_img_url: '720x480' }}" alt="{{ product.images.first.alt }}">

            <h4 class="plp__product-heading-default">{{ product.title }}</h4>
            <h4 class="plp__product-heading-hover">
              {%- comment -%}For changing parts of text to outlined font{%- endcomment -%}
              {%- assign title = product.title | split: " " -%}
              {% assign index_of_outlined_text = product.metafields.c_f.index_of_outlined_text | plus: 0 %}

              {%- if product.metafields.c_f.index_of_outlined_text != blank -%}

                {%- for word in title -%}
                  {%- if forloop.index == index_of_outlined_text -%}
                    <span class="outline outline--light-blue">{{- word -}}</span>{{ " " }}
                  {%- else -%}
                    {{- word -}}{{ " " }}
                  {%- endif -%}
                {%- endfor -%}

                {% comment %}Fallback if index isn't set{% endcomment %}
                {% else %}
                  {%- for word in title -%}
                    {%- if forloop.index == 1 -%}
                      <span class="outline outline--light-blue">{{- word -}}</span>{{ " " }}
                    {%- else -%}
                      {{- word -}}{{ " " }}
                    {%- endif -%}
                {%- endfor -%}
              {%- endif -%}
            </h4>

            <div class="plp__product-button-wrap">



              <button class="plp__product-button">
                {% comment %}{{ product.price | money }}{% endcomment %}
                {% include 'flow_localized_price' %} - Shop Now
              </button>



            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</section>
{% if collection.metafields.c_f.next_section_handle != blank %}
  {% comment %}Section background color{% endcomment %}
  {% if collection.metafields.c_f.next_section_bg_color %}
    {% capture backgroundStyle %}background: {{ collection.metafields.c_f.next_section_bg_color }};{% endcapture %}
  {% else %}
    {% assign backgroundStyle = 'background: radial-gradient(rgb(83, 95, 104), rgb(97, 113, 121));' %}
  {% endif %}

  {% comment %} Next link/handle {% endcomment %}
  {% capture handle %}{{ collection.metafields.c_f.next_section_handle }}{% endcapture %}

  {% comment %} Next image {% endcomment %}
  {% if collection.metafields.c_f.next_section_img != blank %}
    {% capture img %}{{ collection.metafields.c_f.next_section_img }}{% endcapture %}
  {% else %}
    {% capture img %}{{ collection[handle].image | img_url: '1920x1080' }}{% endcapture %}
  {% endif %}

  {% comment %} Next Title {% endcomment %}
  {% if collection.metafields.c_f.next_section_title != 'true' %}
    {% capture title %}{{ collection.metafields.c_f.next_section_title }}{% endcapture %}
  {% else %}
    {% capture title %}{{ collection[handle].title }}{% endcapture %}
  {% endif %}

  <section class="next" style="{{ backgroundStyle }}">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <img class="next__img" src="{{ img }}" alt="" />
        </div>
        <div class="col-sm-12 col-md-6 next__headings" >
          {% if collection.metafields.c_f.next_section_show_next == 'true' %}
            <p class="next__next">Next</p>
          {% endif %}
          <h3 class="next__heading">{{ title }}</h3>
          <a class="next__button" href="/collections/{{ handle }}">Shop All</a>
        </div>
      </div>
    </div>
  </section>
{% endif %}
