{%- comment -%}

  Required arguments:
  - name

  Optional arguments:
  - classes
  - attrs

{%- endcomment -%}


<div class="oo-icon icon-{{- name }} {{ classes -}}"
  {%- if height != blank or width != blank -%}
    style="
      {%- if height != blank -%}height: {{- height -}};{%- endif -%}
      {%- if width != blank -%}width: {{- width -}};{%- endif -%}"
  {%- endif -%}
  {{ attrs -}}>

  {%- assign icon_name = name | remove_first: 'icon-' | prepend: 'icon-' -%}

  {%- include icon_name -%}

  {%- assign icon_name = nil -%}

</div>
