{% comment %}

  Required arguments:
  - name
  - slides

  Optional arguments:
  - group_slides
  - filter_group_options
  - filter_attr
  - with_nav
  - classes
  - attrs

{% endcomment %}

{%- capture id -%}
  slider-{{- 'now' | date: '%N' | modulo: 999999999 | plus: 1 -}}
{%- endcapture -%}

<div
  class="oo-slider vv-{{ name | handle }} {{ classes -}}"
  data-container="slider"
  data-container-name="{{- name -}}"
  data-container-id="{{- id -}}"
  {%- if nav_for != blank -%}data-nav-for="{{- nav_for -}}"{%- endif -%}
  {%- if group_slides == true -%}
    data-filter-group-options="{{- filter_group_options -}}"
    data-filter-attr="{{- filter_attr -}}"
  {%- endif -%}
  {{ attrs -}}>

  {{- slides -}}

</div>
